openapi: 3.0.0
info:
  contact:
    email: support@freeclimb.com
    name: FreeClimb API Support
    url: https://www.freeclimb.com/support/
  description: 'FreeClimb is a cloud-based application programming interface (API)
    that puts the power of the Vail platform in your hands. FreeClimb simplifies the
    process of creating applications that can use a full range of telephony features
    without requiring specialized or on-site telephony equipment. Using the FreeClimb
    REST API to write applications is easy! You have the option to use the language
    of your choice or hit the API directly. Your application can execute a command
    by issuing a RESTful request to the FreeClimb API. The base URL to send HTTP requests
    to the FreeClimb REST API is: /apiserver. FreeClimb authenticates and processes
    your request.'
  title: FreeClimb API
  version: 1.0.0
servers:
- url: https://www.freeclimb.com/apiserver
security:
- fc: []
paths:
  /Accounts/{accountId}:
    get:
      deprecated: false
      operationId: get-an-account
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResult'
          description: Account Details
      summary: Get an Account
      tags: []
      x-accepts: application/json
    post:
      operationId: update-an-account
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRequest'
        description: Account details to update
      responses:
        "204":
          description: Successful Account update
      summary: Manage an account
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Applications/{applicationId}:
    delete:
      deprecated: false
      operationId: delete-an-application
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this application resource.
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful application deletion
      summary: Delete an application
      tags: []
      x-accepts: application/json
    get:
      deprecated: false
      operationId: get-an-application
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: A string that uniquely identifies this application resource.
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResult'
          description: Application Details
      summary: Get an Application
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: update-an-application
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: A string that uniquely identifies this application resource.
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
        description: Application details to update.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResult'
          description: Update Application
      summary: Update an application
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Applications:
    get:
      deprecated: false
      operationId: list-applications
      parameters:
      - description: Return only applications with aliases that exactly match this
          value.
        explode: true
        in: query
        name: alias
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationList'
          description: List of Applications
      summary: List applications
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: create-an-application
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
        description: Application Details
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResult'
          description: Application successfuly created
      summary: Create an application
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /AvailablePhoneNumbers:
    get:
      deprecated: false
      operationId: list-available-numbers
      parameters:
      - description: PCRE-compatible regular expression to filter against `phoneNumber`
          field, which is in E.164 format.
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: State or province of this phone number.
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - description: Country of this phone number.
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Indicates whether the phone number can handle Calls. Typically
          set to true for all numbers.
        explode: true
        in: query
        name: voiceEnabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Indication of whether the phone number can handle sending and
          receiving SMS messages. Typically set to true for all numbers.
        explode: true
        in: query
        name: smsEnabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: capabilities.voice
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: capabilities.sms
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: capabilities.tollFree
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: capabilities.tenDLC
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: capabilities.shortCode
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableNumberList'
          description: Available Numbers List
      summary: List available numbers
      tags: []
      x-accepts: application/json
  /Accounts/{accountId}/IncomingPhoneNumbers/{phoneNumberId}:
    delete:
      deprecated: false
      operationId: delete-an-incoming-number
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this phone number resource.
        explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful Incoming Number deletion.
      summary: Delete an Incoming Number
      tags: []
      x-accepts: application/json
    get:
      deprecated: false
      operationId: get-an-incoming-number
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this phone number resource.
        explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingNumberResult'
          description: Incoming Phone Number result.
      summary: Get an Incoming Number
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: update-an-incoming-number
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this phone number resource.
        explode: false
        in: path
        name: phoneNumberId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomingNumberRequest'
        description: Incoming Number details to update
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingNumberResult'
          description: Updated Incoming Phone Number
      summary: Update an Incoming Number
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/IncomingPhoneNumbers:
    get:
      deprecated: false
      operationId: list-incoming-numbers
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: Only show incoming phone number resources that match this PCRE-compatible
          regular expression.
        explode: true
        in: query
        name: phoneNumber
        required: false
        schema:
          type: string
        style: form
      - description: Only show incoming phone numbers with aliases that exactly match
          this value.
        explode: true
        in: query
        name: alias
        required: false
        schema:
          type: string
        style: form
      - description: State or province of this phone number.
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - description: Country of this phone number.
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: ID of the Application that FreeClimb should contact if a Call
          or SMS arrives for this phone number or a Call from this number is placed.
          An incoming phone number is not useful until associated with an applicationId.
        explode: true
        in: query
        name: applicationId
        required: false
        schema:
          type: string
        style: form
      - description: Indication of whether the phone number has an application linked
          to it.
        explode: true
        in: query
        name: hasApplication
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - deprecated: true
        description: Indicates whether the phone number can handle Calls. Typically
          set to true for all numbers.
        explode: true
        in: query
        name: voiceEnabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - deprecated: true
        description: Indication of whether the phone number can handle sending and
          receiving SMS messages. Typically set to true for all numbers.
        explode: true
        in: query
        name: smsEnabled
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: capabilities.voice
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: capabilities.sms
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: capabilities.tollFree
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: capabilities.tenDLC
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: capabilities.shortCode
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingNumberList'
          description: List of Incoming Phone Numbers
      summary: List Incoming Numbers
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: buy-a-phone-number
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyIncomingNumberRequest'
        description: Incoming Number transaction details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingNumberResult'
          description: Successful Incoming Number transaction
      summary: Buy a Phone Number
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Calls/{callId}:
    get:
      deprecated: false
      operationId: get-a-call
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this call resource.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResult'
          description: Call Resource
      summary: Get a Call
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: update-a-live-call
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this call resource.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCallRequest'
        description: Call details to update
        required: true
      responses:
        "202":
          description: Successfully queued call
      summary: Update a Live Call
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Calls:
    get:
      deprecated: false
      operationId: list-calls
      parameters:
      - description: If active is set to true then all calls of the nature queued,
          ringing, inProgress are returned in the query.
        explode: true
        in: query
        name: active
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Only show Calls to this phone number.
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: Only show Calls from this phone number.
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: Only show Calls currently in this status. May be `queued`, `ringing`,
          `inProgress`, `canceled`, `completed`, `failed`, `busy`, or `noAnswer`.
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: Only show Calls that started at or after this time, given as
          YYYY-MM-DD hh:mm:ss.
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          type: string
        style: form
      - description: Only show Calls that ended at or before this time, given as YYYY-MM-
          DD hh:mm:ss.
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: string
        style: form
      - description: Only show Calls spawned by the call with this ID.
        explode: true
        in: query
        name: parentCallId
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallList'
          description: Successful retrieved call list
      summary: List Calls
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: make-a-call
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MakeCallRequest'
        description: Call details for making a call
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResult'
          description: Call that was created
      summary: Make a Call
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Calls/{callId}/Recordings:
    get:
      deprecated: false
      operationId: list-call-recordings
      parameters:
      - description: Only show recordings created on the specified date, in the form
          *YYYY-MM-DD*.
        explode: true
        in: query
        name: dateCreated
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this call resource.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingList'
          description: List of recordings for a call
      summary: List Call Recordings
      tags: []
      x-accepts: application/json
  /Accounts/{accountId}/Calls/{callId}/Logs:
    get:
      deprecated: false
      operationId: list-call-logs
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this call resource.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogList'
          description: Logs for this call
      summary: List Call Logs
      tags: []
      x-accepts: application/json
  /Accounts/{accountId}/Conferences:
    get:
      deprecated: false
      operationId: list-conferences
      parameters:
      - description: 'Only show conferences that currently have the specified status.
          Valid values: `empty`, `populated`, `inProgress`, or `terminated`.'
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: List Conferences whose alias exactly matches this string.
        explode: true
        in: query
        name: alias
        required: false
        schema:
          type: string
        style: form
      - description: Only show Conferences that were created on the specified date,
          in the form *YYYY-MM-DD*.
        explode: true
        in: query
        name: dateCreated
        required: false
        schema:
          type: string
        style: form
      - description: Only show Conferences that were last updated on the specified
          date, in the form *YYYY-MM-DD*.
        explode: true
        in: query
        name: dateUpdated
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceList'
          description: List of Conferences
      summary: List Conferences
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: create-a-conference
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConferenceRequest'
        description: Conference to create
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceResult'
          description: Details of created conference
      summary: Create a Conference
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Conferences/{conferenceId}:
    get:
      deprecated: false
      operationId: get-a-conference
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: A string that uniquely identifies this conference resource.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceResult'
          description: Successfully retrieved conference
      summary: Get a Conference
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: update-a-conference
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this conference resource.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConferenceRequest'
        description: Conference Details to update
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceResult'
          description: Conference Details to Update
      summary: Update a Conference
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Conferences/{conferenceId}/Participants/{callId}:
    delete:
      deprecated: false
      operationId: remove-a-participant
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: ID of the conference this participant is in.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the Call associated with this participant.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successfully deleted conference participant
      summary: Remove a Participant
      tags: []
      x-accepts: application/json
    get:
      deprecated: false
      operationId: get-a-participant
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: ID of the conference this participant is in.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the Call associated with this participant.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceParticipantResult'
          description: Successfully retrieved conference participant
      summary: Get a Participant
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: update-a-participant
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: ID of the conference this participant is in.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the Call associated with this participant.
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConferenceParticipantRequest'
        description: Conference participant details to update
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceParticipantResult'
          description: Successfully retrieved conference participant
      summary: Update a Participant
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Conferences/{conferenceId}/Participants:
    get:
      deprecated: false
      operationId: list-participants
      parameters:
      - description: Only show Participants with the talk privilege.
        explode: true
        in: query
        name: talk
        required: false
        schema:
          type: boolean
        style: form
      - description: Only show Participants with the listen privilege.
        explode: true
        in: query
        name: listen
        required: false
        schema:
          type: boolean
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: ID of the conference this participant is in.
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceParticipantList'
          description: Successfully retrieved conference participant list
      summary: List Participants
      tags: []
      x-accepts: application/json
  /Accounts/{accountId}/Queues/{queueId}:
    get:
      deprecated: false
      operationId: get-a-queue
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: A string that uniquely identifies this queue resource.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueResult'
          description: Successfully retrieved queue
      summary: Get a Queue
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: update-a-queue
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: A string that uniquely identifies this Queue resource.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueRequest'
        description: Queue Details to update
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueResult'
          description: Successfully updated queue
      summary: Update a Queue
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Queues:
    get:
      deprecated: false
      operationId: list-active-queues
      parameters:
      - description: Return only the Queue resources with aliases that exactly match
          this name.
        explode: true
        in: query
        name: alias
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueList'
          description: Successfuly retrieved queue list
      summary: List Active Queues
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: create-a-queue
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueRequest'
        description: Queue details used to create a queue
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueResult'
          description: Successfuly created queue
      summary: Create a Queue
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Queues/{queueId}/Members/Front:
    get:
      deprecated: false
      operationId: get-head-member
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies the Queue that the Member belongs
          to.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueMember'
          description: Successfully retrieved queue member
      summary: Get Head Member
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: dequeue-head-member
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this queue resource.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueMember'
          description: Accepted dequeue request
      summary: Dequeue Head Member
      tags: []
      x-accepts: application/json
  /Accounts/{accountId}/Queues/{queueId}/Members:
    get:
      deprecated: false
      operationId: list-members
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies the Queue that the Member belongs
          to.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueMemberList'
          description: Successfully retrieved queue member list
      summary: List Members
      tags: []
      x-accepts: application/json
  /Accounts/{accountId}/Queues/{queueId}/Members/{callId}:
    get:
      deprecated: false
      operationId: get-a-member
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies the Queue that the Member belongs
          to.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the Call that the Member belongs to
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueMember'
          description: Successfully retrieved a queue member
      summary: Get a Member
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: dequeue-a-member
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies the Queue that the Member belongs
          to.
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      - description: ID if the Call that the Member belongs to
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueMember'
          description: Accepted dequeue request
      summary: Dequeue a Member
      tags: []
      x-accepts: application/json
  /Accounts/{accountId}/Logs:
    get:
      deprecated: false
      operationId: list-all-account-logs
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogList'
          description: Successfully retrieved log list
      summary: List All Account Logs
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: filter-logs
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterLogsRequest'
        description: Filter logs request paramters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogList'
          description: Successfully retrieved log list
      summary: Filter Logs
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Recordings:
    get:
      deprecated: false
      operationId: list-recordings
      parameters:
      - description: Show only Recordings made during the Call with this ID.
        explode: true
        in: query
        name: callId
        required: false
        schema:
          type: string
        style: form
      - description: Show only Recordings made during the conference with this ID.
        explode: true
        in: query
        name: conferenceId
        required: false
        schema:
          type: string
        style: form
      - description: Only show Recordings created on this date, formatted as *YYYY-MM-DD*.
        explode: true
        in: query
        name: dateCreated
        required: false
        schema:
          type: string
        style: form
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingList'
          description: List of Recordings
      summary: List Recordings
      tags: []
      x-accepts: application/json
  /Accounts/{accountId}/Recordings/{recordingId}:
    delete:
      deprecated: false
      operationId: delete-a-recording
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this recording resource.
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Recording Deleted
      summary: Delete a Recording
      tags: []
      x-accepts: application/json
    get:
      deprecated: false
      operationId: get-a-recording
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this recording resource.
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingResult'
      summary: Get a Recording
      tags: []
      x-accepts: application/json
  /Accounts/{accountId}/Recordings/{recordingId}/Stream:
    get:
      deprecated: false
      operationId: stream-a-recording-file
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this recording resource.
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            audio/x-wav:
              schema:
                format: binary
                type: string
          description: Streaming a Recording represented with audio/x-wav mime-type
      summary: Stream a Recording File
      tags: []
      x-accepts: audio/x-wav
  /Accounts/{accountId}/Recordings/{recordingId}/Download:
    get:
      deprecated: false
      operationId: download-a-recording-file
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this recording resource.
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            audio/x-wav:
              schema:
                format: binary
                type: string
          description: Download a Recording file represented with audio/x-wav mime-type
      summary: Download a Recording File
      tags: []
      x-accepts: audio/x-wav
  /Accounts/{accountId}/Messages:
    get:
      deprecated: false
      operationId: list-sms-messages
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: Only show Messages to this phone number.
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: Only show Messages from this phone number.
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: Only show Messages sent at or after this time (GMT), given as
          *YYYY-MM-DD hh:mm:ss*.
        explode: true
        in: query
        name: beginTime
        required: false
        schema:
          type: string
        style: form
      - description: Only show messages sent at or before this time (GMT), given as
          *YYYY-MM-DD hh:mm*..
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          type: string
        style: form
      - description: Either `inbound` or `outbound`. Only show Messages that were
          either *sent from* or *received by* FreeClimb.
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - inbound
          - outbound
          type: string
          x-enum-varnames:
          - INBOUND
          - OUTBOUND
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesList'
          description: List of messages
      summary: List SMS Messages
      tags: []
      x-accepts: application/json
    post:
      deprecated: false
      operationId: send-an-sms-message
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageRequest'
        description: Details to create a message
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResult'
          description: The message has been accepted.
      summary: Send an SMS Message
      tags: []
      x-contentType: application/json
      x-accepts: application/json
  /Accounts/{accountId}/Messages/{messageId}:
    get:
      deprecated: false
      operationId: get-an-sms-message
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
        x-account-id: true
      - description: String that uniquely identifies this Message resource.
        explode: false
        in: path
        name: messageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResult'
          description: The specific SMS message that’s been processed by FreeClimb
      summary: Get an SMS Message
      tags: []
      x-accepts: application/json
components:
  parameters:
    AccountId:
      description: ID of the account
      explode: false
      in: path
      name: accountId
      required: true
      schema:
        type: string
      style: simple
      x-account-id: true
    Capabilities.Voice:
      explode: true
      in: query
      name: capabilities.voice
      required: false
      schema:
        type: boolean
      style: form
    Capabilities.Sms:
      explode: true
      in: query
      name: capabilities.sms
      required: false
      schema:
        type: boolean
      style: form
    Capabilities.TollFree:
      explode: true
      in: query
      name: capabilities.tollFree
      required: false
      schema:
        type: boolean
      style: form
    Capabilities.TenDLC:
      explode: true
      in: query
      name: capabilities.tenDLC
      required: false
      schema:
        type: boolean
      style: form
    Capabilities.ShortCode:
      explode: true
      in: query
      name: capabilities.shortCode
      required: false
      schema:
        type: boolean
      style: form
  schemas:
    PerclScript:
      description: A PerCL script to be returned to the FreeClimb servers in FreeClimb
        applications
      properties:
        commands:
          description: A JSON array of PerCL commands
          items:
            $ref: '#/components/schemas/PerclCommand'
          type: array
      type: object
      x-percl-script: true
    PerclCommand:
      description: An individual command used in a PerCLScript.
      discriminator:
        mapping:
          AddToConference: '#/components/schemas/AddToConference'
          CreateConference: '#/components/schemas/CreateConference'
          Dequeue: '#/components/schemas/Dequeue'
          Enqueue: '#/components/schemas/Enqueue'
          GetDigits: '#/components/schemas/GetDigits'
          GetSpeech: '#/components/schemas/GetSpeech'
          Hangup: '#/components/schemas/Hangup'
          OutDial: '#/components/schemas/OutDial'
          Pause: '#/components/schemas/Pause'
          Park: '#/components/schemas/Park'
          Play: '#/components/schemas/Play'
          PlayEarlyMedia: '#/components/schemas/PlayEarlyMedia'
          RecordUtterance: '#/components/schemas/RecordUtterance'
          Redirect: '#/components/schemas/Redirect'
          Reject: '#/components/schemas/Reject'
          RemoveFromConference: '#/components/schemas/RemoveFromConference'
          Say: '#/components/schemas/Say'
          SendDigits: '#/components/schemas/SendDigits'
          SetListen: '#/components/schemas/SetListen'
          SetTalk: '#/components/schemas/SetTalk'
          Sms: '#/components/schemas/Sms'
          StartRecordCall: '#/components/schemas/StartRecordCall'
          TerminateConference: '#/components/schemas/TerminateConference'
          Unpark: '#/components/schemas/Unpark'
        propertyName: command
      properties:
        command:
          description: Name of PerCL Command (this is automatically derived from mapping
            configuration and should not be manually supplied in any arguments)
          type: string
      type: object
      x-percl-command-base: true
    AddToConference:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/AddToConference_allOf'
      description: The `AddToConference` command adds a Participant to a Conference.
        If this Participant currently is in another Conference, the Participant is
        first removed from that Conference. Two Call legs can be bridged together
        by creating a Conference and adding both Call legs to it via `AddToConference`.
      x-percl-command: true
    CreateConference:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/CreateConference_allOf'
      description: The `CreateConference` command does exactly what its name implies
        — it creates an unpopulated Conference (one without any Participants). Once
        created, a Conference remains in FreeClimb until explicitly terminated by
        a customer. Once a Conference has been terminated, it can no longer be used.
      x-percl-command: true
    Dequeue:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - type: object
      description: The `Dequeue` command transfers control of a Call that is in a
        Queue so that the waiting caller exits the Queue. Execution continues with
        the first command in the PerCL script returned by the `actionUrl` specified
        in the `Enqueue` command.
      x-percl-command: true
    Enqueue:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/Enqueue_allOf'
      description: The `Enqueue` command adds the current Call to a call Queue. If
        the specified Queue does not exist, it is created and then the Call is added
        to it. The default maximum length of the queue is 100. This can be modified
        using the REST API.
      x-percl-command: true
    GetDigits:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/GetDigits_allOf'
      description: The `GetDigits` command collects DTMF inputs from the caller. It
        is only supported only when there is a single party on the Call. `GetDigits`
        is a Terminal Command — any actions following it are never executed. When
        the Caller is done entering the digits, FreeClimb submits that data to the
        provided `actionUrl` using an HTTP POST request. Your server will be required
        to respond to the FreeClimb Webhook with PerCL to continue handling the call.
      x-percl-command: true
    GetSpeech:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/GetSpeech_allOf'
      description: The `GetSpeech` command enables the Caller to respond to the application
        using a supported language. Unlike DTMF entry, which implicitly restricts
        the user to using the available buttons on the phone key pad, speech input
        allows for flexible audio inputs based on grammar. FreeClimb supports grammars
        written using GRXML compatible with the Microsoft Speech Platform. `GetSpeech`
        is only supported on a single call leg. It is not supported when there are
        two or more call legs connected (as in within a Conference).
      x-percl-command: true
    Hangup:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/Hangup_allOf'
      description: The `Hangup` command terminates a Call. If `Hangup` is used as
        the first action in a PerCL response, it does not prevent FreeClimb from answering
        the Call and billing your account. See the `Reject` command to hang up at
        no charge.
      x-percl-command: true
    OutDial:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/OutDial_allOf'
      description: The OutDial command is used to call a phone number
      x-percl-command: true
    Park:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/Park_allOf'
      description: 'The `Park` command allows a caller to be put on hold.  You can
        provide hold music,messages,etc until ready to resume the call. Park is a
        terminal command.  Actions performed on the Call while on hold are provided
        in a PerCL script in response to the waitUrl property. Actions performed on
        the Call after it has been unparked (resumed) will be provided in a PerCL
        script in response to the actionUrl provided. A Call can be resumed in two
        ways -- REST API invocation or the Unpark percl command. No actions can be
        nested within Park and Park cannot be nested in any other actions. '
      x-percl-command: true
    Pause:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/Pause_allOf'
      description: The `Pause` command halts execution of the current PerCL script
        for a specified number of milliseconds. If `Pause` is the first command in
        a PerCL document, FreeClimb will wait for the specified time to elapse before
        picking up the call.
      x-percl-command: true
    Play:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/Play_allOf'
      description: The `Play` command plays an audio file back to the caller. The
        audio file may be located at any location accessible via a URL. `Play` can
        exist as a stand-alone command or as a nested command. It does not allow barge-in
        unless nested within a `GetSpeech` command. The file will always be played
        to completion unless nested.
      x-percl-command: true
    PlayEarlyMedia:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/PlayEarlyMedia_allOf'
      description: '`PlayEarlyMedia` is relevant only when present as the very first
        command in the PerCL script returned for an incoming Call. In such cases,
        the command is executed before FreeClimb attempts to connect the call. The
        audio file it uses can be stored in any location that is accessible via URL.'
      x-percl-command: true
    RecordUtterance:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/RecordUtterance_allOf'
      description: The `RecordUtterance` command records the caller's voice and returns
        the URL of a file containing the audio recording. `RecordUtterance` is blocking
        and is a terminal command. As such, the `actionUrl` property is required,
        and control of the Call picks up using the PerCL returned in response to the
        `actionUrl`. Recording information is returned in the `actionUrl` request.
      x-percl-command: true
    Redirect:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/Redirect_allOf'
      description: The `Redirect` command transfers control of a Call to the PerCL
        at a different URL. `Redirect` is a terminal command, so any actions following
        it are never executed. The maximum number of redirections allowed during the
        life time of a Call is 256. This is intended to prevent a Call from possibly
        looping infinitely due to errors in PerCL being generated.
      x-percl-command: true
    Reject:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/Reject_allOf'
      description: The `Reject` command blocks an incoming Call. Using `Reject` is
        the only way to prevent FreeClimb from answering a Call. Any other response
        will result in an answered Call and your account will be billed.
      x-percl-command: true
    RemoveFromConference:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/RemoveFromConference_allOf'
      description: The `RemoveFromConference` command removes a Participant from a
        Conference but does not hang up. Instead, the Call is simply unbridged and
        what happens next with the Call is determined by the PerCL returned in response
        to the `leaveConferenceUrl` attribute.
      x-percl-command: true
    Say:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/Say_allOf'
      description: The `Say` command provides Text-To-Speech (TTS) support. It converts
        text to speech and then renders it in a female voice back to the caller. `Say`
        is useful in cases where it's difficult to pre-record a prompt for any reason.
        `Say` does not allow barge-in unless nested within a `GetSpeech` command.
        The file will always be played to completion unless nested.
      x-percl-command: true
    SendDigits:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/SendDigits_allOf'
      description: The `SendDigits` command plays DTMF tones on a live Call. This
        is useful for navigating through IVR menus or dialing extensions.
      x-percl-command: true
    SetListen:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/SetListen_allOf'
      description: The `SetListen` command enables or disables the listen privilege
        for a Conference Participant provided both calls are in the same conference.
        The Participant can hear what the other participants are saying only if this
        privilege is enabled.
      x-percl-command: true
    SetTalk:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/SetTalk_allOf'
      description: The `SetTalk` command enables or disables the talk privilege for
        a Participant in a Conference provided both calls are in the same conference.
        If 'true', no audio from that Participant is shared with the other Participants
        of the Conference.
      x-percl-command: true
    Sms:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/Sms_allOf'
      description: The `Sms` command can be used to send an SMS message to a phone
        number during a phone call. International SMS is disabled by default.
      x-percl-command: true
    StartRecordCall:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - type: object
      description: The `StartRecordCall` command records the current call and returns
        the URL of a file containing the audio recording when recording completes.
        `StartRecordCall` is non-blocking. After recording of the current call begins,
        control of the call moves to the PerCL command that follows `StartRecordCall`
        in the current PerCL script.
      x-percl-command: true
    TerminateConference:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - $ref: '#/components/schemas/TerminateConference_allOf'
      description: 'The `TerminateConference` command terminates an existing Conference.
        Any active participants are hung up on by FreeClimb. If this is not the desired
        behavior, use the `RemoveFromConference` command to unbridge Calls that should
        not be hung up. Note: The Call requesting TerminateConference must be on the
        same Conference for this command to execute.'
      x-percl-command: true
    Unpark:
      allOf:
      - $ref: '#/components/schemas/PerclCommand'
      - type: object
      description: The `Unpark` command resumes a parked call.  Execution continues
        with the first command in the PerCL scripted returned by the actionUrl specified
        in the Park command as long as the call is still in progress.  If the call
        is no longer in progress, any returned PerCL will not be executed. Unpark
        is a terminal command -- any commands following it in the same script are
        not executed.
      x-percl-command: true
    MutableResourceModel:
      properties:
        uri:
          description: The URI for this resource, relative to /apiserver.
          type: string
        dateCreated:
          description: The date that this resource was created (GMT) in RFC 1123 format
            (e.g., Mon, 15 Jun 2009 20:45:30 GMT).
          type: string
        dateUpdated:
          description: The date that this resource was last updated (GMT) in RFC 1123
            format (e.g., Mon, 15 Jun 2009 20:45:30 GMT).
          type: string
        revision:
          description: Revision count for the resource. This count is set to 1 on
            creation and is incremented every time it is updated.
          type: integer
      type: object
    PaginationModel:
      properties:
        total:
          description: Total amount of requested resource.
          nullable: true
          type: integer
        start:
          description: Resource index at start of current page
          nullable: true
          type: integer
        end:
          description: Resource index at end of current page
          nullable: true
          type: integer
        page:
          description: Current page
          nullable: true
          type: integer
        numPages:
          description: Total number of pages
          nullable: true
          type: integer
        pageSize:
          description: Number of items per page
          nullable: true
          type: integer
        nextPageUri:
          description: Uri to retrieve the next page of items
          nullable: true
          type: string
      type: object
    Capabilities:
      description: Details for which features this number may be used.
      properties:
        voice:
          description: Indicates whether a number can be used for voice calls. Replaces
            voiceEnabled.
          nullable: true
          type: boolean
        sms:
          description: Indicates whether a number can be used SMS messaging. Replaces
            smsEnabled.
          nullable: true
          type: boolean
        tollFree:
          description: Indicates that a number is toll-free and will make toll-free
            calls, and when enabled, toll-free messages.
          nullable: true
          type: boolean
        tenDLC:
          description: Indicates that a number, if sms is true, will be used for 10DLC
            messaging
          nullable: true
          type: boolean
        shortCode:
          description: Indicates that a number is a short code and can be used for
            short code messaging
          nullable: true
          type: boolean
      required:
      - shortCode
      - sms
      - tenDLC
      - tollFree
      - voice
      type: object
    AccountRequest:
      example:
        alias: alias
        label: label
      properties:
        alias:
          description: Description for this account.
          type: string
        label:
          description: Group to which this account belongs.
          type: string
      type: object
    AccountResult:
      allOf:
      - $ref: '#/components/schemas/MutableResourceModel'
      - $ref: '#/components/schemas/AccountResult_allOf'
    ApplicationResult:
      allOf:
      - $ref: '#/components/schemas/MutableResourceModel'
      - $ref: '#/components/schemas/ApplicationResult_allOf'
    ApplicationRequest:
      example:
        voiceUrl: voiceUrl
        smsUrl: smsUrl
        smsFallbackUrl: smsFallbackUrl
        alias: alias
        voiceFallbackUrl: voiceFallbackUrl
        statusCallbackUrl: statusCallbackUrl
        callConnectUrl: callConnectUrl
      properties:
        alias:
          description: A human readable description of the application, with maximum
            length 64 characters.
          type: string
        voiceUrl:
          description: The URL that FreeClimb will request when an inbound call arrives
            on a phone number assigned to this application. Used only for inbound
            calls.
          type: string
        voiceFallbackUrl:
          description: 'The URL that FreeClimb will request if it times out waiting
            for a response from the voiceUrl. Used for inbound calls only. Note: A
            PerCL response is expected to control the inbound call.'
          type: string
        callConnectUrl:
          description: 'The URL that FreeClimb will request when an outbound call
            request is complete. Used for outbound calls only.  Note: A PerCL response
            is expected if the outbound call is connected (status=InProgress) to control
            the call.'
          type: string
        statusCallbackUrl:
          description: 'The URL that FreeClimb will request to pass call status (such
            as call ended) to the application.  Note: This is a notification only;
            any PerCL returned will be ignored.'
          type: string
        smsUrl:
          description: 'The URL that FreeClimb will request when a phone number assigned
            to this application receives an incoming SMS message. Used for inbound
            SMS only.  Note: Any PerCL returned will be ignored.'
          type: string
        smsFallbackUrl:
          description: 'The URL that FreeClimb will request if it times out waiting
            for a response from the smsUrl. Used for inbound SMS only.  Note: Any
            PerCL returned will be ignored.'
          type: string
      type: object
    ApplicationList:
      allOf:
      - $ref: '#/components/schemas/PaginationModel'
      - $ref: '#/components/schemas/ApplicationList_allOf'
    AvailableNumber:
      properties:
        capabilities:
          $ref: '#/components/schemas/Capabilities'
        campaignId:
          description: The campaign ID generated by the campaign registry
          nullable: true
          type: string
        phoneNumber:
          description: 'The phone number, in E.164 format (+ country code and phone
            number: +18003608245).'
          nullable: true
          type: string
        voiceEnabled:
          deprecated: true
          description: Typically set to true for all numbers.
          nullable: true
          type: boolean
        smsEnabled:
          deprecated: true
          description: Indicates whether the phone number can send and receive SMS
            messages.
          nullable: true
          type: boolean
        region:
          description: The state or province of this phone number.
          nullable: true
          type: string
        country:
          description: The country of this phone number.
          nullable: true
          type: string
      type: object
    AvailableNumberList:
      allOf:
      - $ref: '#/components/schemas/PaginationModel'
      - $ref: '#/components/schemas/AvailableNumberList_allOf'
    IncomingNumberResult:
      allOf:
      - $ref: '#/components/schemas/MutableResourceModel'
      - $ref: '#/components/schemas/IncomingNumberResult_allOf'
    IncomingNumberRequest:
      example:
        alias: alias
        applicationId: applicationId
      properties:
        applicationId:
          description: ID of the Application that should handle calls to this number.
          type: string
        alias:
          description: Description for this phone number.
          type: string
      type: object
    IncomingNumberList:
      allOf:
      - $ref: '#/components/schemas/PaginationModel'
      - $ref: '#/components/schemas/IncomingNumberList_allOf'
    BuyIncomingNumberRequest:
      example:
        phoneNumber: phoneNumber
        alias: alias
        applicationId: applicationId
      properties:
        phoneNumber:
          description: Phone number to purchase in E.164 format (as returned in the
            list of Available Phone Numbers).
          type: string
        alias:
          description: Description for this new incoming phone number (max 64 characters).
          type: string
        applicationId:
          description: ID of the application that should handle phone calls to the
            number.
          type: string
      required:
      - phoneNumber
      type: object
    CallResult:
      allOf:
      - $ref: '#/components/schemas/MutableResourceModel'
      - $ref: '#/components/schemas/CallResult_allOf'
    UpdateCallRequest:
      example:
        status: canceled
      properties:
        status:
          description: Either `canceled` or `completed`.  Specifying `canceled` attempts
            to hang up calls that are queued without affecting calls already in progress.
            Specifying `completed` attempts to hang up a call already in progress.
          enum:
          - canceled
          - completed
          type: string
          x-enum-varnames:
          - CANCELED
          - COMPLETED
      required:
      - status
      type: object
    MakeCallRequest:
      example:
        sendDigits: sendDigits
        ifMachineUrl: ifMachineUrl
        privacyMode: true
        parentCallId: parentCallId
        ifMachine: ifMachine
        from: from
        to: to
        applicationId: applicationId
        timeout: 0
        callConnectUrl: callConnectUrl
      properties:
        from:
          description: 'Phone number to use as the caller ID. This can be: (a) The
            To or From number provided in FreeClimb''s initial request to your app
            or (b) Any incoming phone number you have purchased from FreeClimb.'
          type: string
        to:
          description: Phone number to place the Call to.
          type: string
        applicationId:
          description: Required if no `parentCallId` or `callConnectUrl` has been
            provided. ID of the application FreeClimb should use to handle this phone
            call. FreeClimb will use the `callConnectUrl` and `statusCallbackUrl`
            set on the application unless the `callConnectUrl` attribute is also provided
            with the request. In this case, the URL specified in that `callConnectUrl`
            attribute will be used as a replacement of the `callConnectUrl` originally
            assigned in the application. If the `callConnectUrl` is not set as either
            an attribute of the request or as part of the specified application, an
            error will be provided. The application’s voiceUrl parameter is not used
            for outbound calls.
          type: string
        sendDigits:
          description: 'String of digits to dial after connecting to the number. It
            can include digits `0-9`, `*`, and `#`, and allows embedding a pause between
            the output of individual digits. The default pause is 500 milliseconds.
            So, a string such as *1234#* will be played in 2 seconds because of the
            4 standard pauses implied within the string. A custom pause is specified
            by including a positive integer wrapped in curly braces: {n}. For more
            information, see **sendDigits examples** below.'
          type: string
        ifMachine:
          description: Specifies how FreeClimb should handle this Call if an answering
            machine answers it.
          type: string
        ifMachineUrl:
          description: This attribute specifies a URL to which FreeClimb will make
            a POST request when an answering machine or a fax machine is detected.
            This URL is required if the ifMachine flag is set to redirect. When ifMachine
            is set to hangup, ifMachineUrl must not be included in the request. For
            more information, see **ifMachineUrl example** below.
          type: string
        timeout:
          default: 30
          description: Number of seconds that FreeClimb should allow the phone to
            ring before assuming there is no answer. Default is 30 seconds. Maximum
            allowed ring-time is determined by the target phone's provider. Note that
            most providers limit ring-time to 120 seconds.
          format: int32
          type: integer
        parentCallId:
          description: Required if no `applicationId` or `callConnectUrl` has been
            provided. The ID of the parent Call in the case that this new Call is
            meant to be treated as a child of an existing Call. This attribute should
            be included when possible to reduce latency when adding child calls to
            Conferences containing the parent Call. A call can only be used as a parent
            once the call is in progress or as an inbound call that is still ringing.
            An outbound call is considered to be in progress once the `outdialConnect`
            or `outdialApiConnect` webhook is invoked. An inbound call is ringing
            when the inbound webhook is invoked. If a `callConnectUrl` attribute is
            also included with the `parentCallId` in the request, this URL will be
            used as a replacement of the `callConnectUrl` originally assigned in the
            parent call.
          type: string
        privacyMode:
          description: Activate privacy mode in order to obscure log data that can
            potentially expose private information.
          type: boolean
        callConnectUrl:
          description: The URL that FreeClimb should use to handle this phone call.
            If an applicationId or parentCallId have already been provided, this callConnectUrl
            attribute will be used as a replacement of the callConnectUrl originally
            assigned in the application or parent call.
          type: string
      required:
      - from
      - to
      type: object
    CallList:
      allOf:
      - $ref: '#/components/schemas/PaginationModel'
      - $ref: '#/components/schemas/CallList_allOf'
    RecordingResult:
      allOf:
      - $ref: '#/components/schemas/MutableResourceModel'
      - $ref: '#/components/schemas/RecordingResult_allOf'
    RecordingList:
      allOf:
      - $ref: '#/components/schemas/PaginationModel'
      - $ref: '#/components/schemas/RecordingList_allOf'
    LogResult:
      properties:
        timestamp:
          description: Time that the log was generated. The time is represented as
            microseconds since the Unix Epoch.
          nullable: true
          type: integer
        level:
          description: Level of the log. Possible values are info, warning, and error.
          enum:
          - info
          - warning
          - error
          nullable: true
          type: string
          x-enum-varnames:
          - INFO
          - WARNING
          - ERROR
        requestId:
          description: ID of the request associated with the log. The requestId is
            propagated across all logs generated by FreeClimb when processing a request.
          nullable: true
          type: string
        accountId:
          description: ID of the account that this log was generated under.
          nullable: true
          type: string
        callId:
          description: ID of the Call associated with the log. Can be set to null
            if the log was generated without regard to a specific Call.
          nullable: true
          type: string
        message:
          description: A simple string describing the event being logged.
          nullable: true
          type: string
        metadata:
          description: JSON document containing metadata about the event. Some log
            messages may include request and response header content in this field.
          nullable: true
          type: object
      type: object
    LogList:
      allOf:
      - $ref: '#/components/schemas/PaginationModel'
      - $ref: '#/components/schemas/LogList_allOf'
    ConferenceResult:
      allOf:
      - $ref: '#/components/schemas/MutableResourceModel'
      - $ref: '#/components/schemas/ConferenceResult_allOf'
    MessagesList:
      allOf:
      - $ref: '#/components/schemas/PaginationModel'
      - $ref: '#/components/schemas/MessagesList_allOf'
    MessageRequest:
      allOf:
      - $ref: '#/components/schemas/MutableResourceModel'
      - $ref: '#/components/schemas/MessageRequest_allOf'
    ConferenceList:
      allOf:
      - $ref: '#/components/schemas/PaginationModel'
      - $ref: '#/components/schemas/ConferenceList_allOf'
    MessageResult:
      allOf:
      - $ref: '#/components/schemas/MutableResourceModel'
      - $ref: '#/components/schemas/MessageResult_allOf'
    CreateConferenceRequest:
      example:
        playBeep: always
        waitUrl: waitUrl
        record: true
        alias: alias
        statusCallbackUrl: statusCallbackUrl
      properties:
        alias:
          description: A description for this Conference. Maximum 64 characters.
          type: string
        playBeep:
          default: always
          description: 'Controls when a beep is played. Valid values: `always`, `never`,
            `entryOnly`, `exitOnly`.'
          enum:
          - always
          - never
          - entryOnly
          - exitOnly
          type: string
          x-enum-varnames:
          - ALWAYS
          - NEVER
          - ENTRY_ONLY
          - EXIT_ONLY
          x-enum-default-attr: ALWAYS
        record:
          description: Setting to `true` records the entire Conference.
          type: boolean
        waitUrl:
          description: If specified, a URL for the audio file that provides custom
            hold music for the Conference when it is in the populated state. Otherwise,
            FreeClimb uses a system default audio file. This is always fetched using
            HTTP GET and is fetched just once &mdash; when the Conference is created.
          type: string
        statusCallbackUrl:
          description: This URL is invoked when the status of the Conference changes.
            For more information, see **statusCallbackUrl** (below).
          type: string
      type: object
    UpdateConferenceRequest:
      example:
        playBeep: always
        alias: alias
        status: empty
      properties:
        alias:
          description: Description for this conference. Maximum 64 characters.
          type: string
        playBeep:
          default: always
          description: 'Controls when a beep is played. Valid values: `always`, `never`,
            `entryOnly`, `exitOnly`.'
          enum:
          - always
          - never
          - entryOnly
          - exitOnly
          type: string
          x-enum-varnames:
          - ALWAYS
          - NEVER
          - ENTRY_ONLY
          - EXIT_ONLY
          x-enum-default-attr: ALWAYS
        status:
          description: 'New status of the conference. Valid values: `empty` or `terminated`.
            For more information, see **Status Parameter** below.**'
          enum:
          - empty
          - terminated
          type: string
          x-enum-varnames:
          - EMPTY
          - TERMINATED
      type: object
    ConferenceParticipantResult:
      allOf:
      - $ref: '#/components/schemas/MutableResourceModel'
      - $ref: '#/components/schemas/ConferenceParticipantResult_allOf'
    UpdateConferenceParticipantRequest:
      example:
        talk: true
        listen: true
      properties:
        talk:
          description: (Optional) Default is `true`. Setting to `false` mutes the
            Participant. FreeClimb returns an error and ignores any other value.
          type: boolean
        listen:
          description: (Optional) Default is `true`. Setting to `false` silences the
            Conference for this Participant. FreeClimb returns an error and ignores
            any other value.
          type: boolean
      type: object
    ConferenceParticipantList:
      allOf:
      - $ref: '#/components/schemas/PaginationModel'
      - $ref: '#/components/schemas/ConferenceParticipantList_allOf'
    QueueResult:
      allOf:
      - $ref: '#/components/schemas/MutableResourceModel'
      - $ref: '#/components/schemas/QueueResult_allOf'
    QueueRequest:
      example:
        alias: alias
        maxSize: 0
      properties:
        alias:
          description: Description for this Queue. Max length is 64 characters.
          type: string
        maxSize:
          default: 100
          description: Maximum number of calls this queue can hold. Default is 100.
            Maximum is 1000. **Note:** Reducing the maxSize of a Queue causes the
            Queue to reject incoming requests until it shrinks below the new value
            of maxSize.
          format: int32
          type: integer
      type: object
    QueueList:
      allOf:
      - $ref: '#/components/schemas/PaginationModel'
      - $ref: '#/components/schemas/QueueList_allOf'
    QueueMember:
      example:
        callId: callId
        position: 6
        uri: uri
        waitTime: 0
        dateEnqueued: dateEnqueued
      properties:
        uri:
          description: URI for this Queue Member resource, relative to the API base
            URL.
          nullable: true
          type: string
        callId:
          description: ID of the Call associated with this Queue Member.
          nullable: true
          type: string
        waitTime:
          description: Number of seconds the Member has been in the queue.
          nullable: true
          type: integer
        position:
          description: Member's current position in the Queue, 1 indexed.
          nullable: true
          type: integer
        dateEnqueued:
          description: Date that the Member was enqueued (GMT), given in RFC 1123
            format (e.g., Mon, 15 Jun 2009 20:45:30 GMT).
          nullable: true
          type: string
      type: object
    QueueMemberList:
      allOf:
      - $ref: '#/components/schemas/PaginationModel'
      - $ref: '#/components/schemas/QueueMemberList_allOf'
    FilterLogsRequest:
      example:
        pql: pql
      properties:
        pql:
          description: The filter query for retrieving logs. See **Performance Query
            Language** below.
          type: string
      required:
      - pql
      type: object
    AddToConference_allOf:
      properties:
        allowCallControl:
          description: If `true`, Call control will be enabled for this Participant's
            Call leg.
          type: boolean
        callControlSequence:
          description: Defines a sequence of digits that, when entered by this caller,
            invokes the `callControlUrl`. Only digits plus '*', and '#' may be used.
          type: string
        callControlUrl:
          description: URL to be invoked when this Participant enters the digit sequence
            defined in the `callControlSequence` attribute.
          type: string
        conferenceId:
          description: ID of the Conference to which to add the Participant (Call
            leg). Conference must exist or an error will result.
          type: string
        callId:
          description: ID of the Call that will be added to the specified Conference.
            The Call must be in progress or an error will result. If the Call is part
            of an existing Conference, it is first removed from that Conference and
            is then moved to the new one.
          type: boolean
        leaveConferenceUrl:
          description: 'URL to be invoked when the Participant leaves the Conference. '
          type: string
        listen:
          description: If `true`, the Participant joins the Conference with listen
            privileges. This may be modified later via the REST API or `SetListen`
            PerCL command.
          type: boolean
        notificationUrl:
          description: When the Participant enters the Conference, this URL will be
            invoked using an HTTP POST request with the standard request parameters.
          type: string
        startConfOnEnter:
          description: Flag that indicates whether a Conference starts upon entry
            of this particular Participant. This is usually set to `true` for moderators
            and `false` for all other Participants.
          type: boolean
        talk:
          description: 'If `true`, the Participant joins the Conference with talk
            privileges. This may be modified later via the REST API or `SetTalk` PerCL
            command. '
          type: boolean
      required:
      - conferenceId
      type: object
    CreateConference_allOf:
      properties:
        actionUrl:
          description: ' This URL is invoked once the Conference is successfully created.
            Actions on the Conference, such as adding Participants, can be performed
            via the PerCL script returned in the response. '
          type: string
        alias:
          description: 'Descriptive name for the Conference. '
          type: boolean
        playBeep:
          description: 'Indicates whether to play a beep when a Participant enters
            or leaves the Conference. either `always`, `never`, `entryOnly`, or `exitOnly`.
            Leaving this unset will make conference default to `always` '
          type: string
        record:
          description: When set to `true`, the entire Conference is recorded. The
            `statusCallbackUrl` of the Conference will receive a `conferenceRecordingEnded`
            Webhook when the Conference transitions from the `inProgress` to empty
            state.
          type: boolean
        statusCallbackUrl:
          description: This URL is invoked when the status of the Conference changes
            or when a recording of the Conference has become available.
          type: boolean
        waitUrl:
          description: If specified, this URL provides the custom hold music for the
            Conference when it is in the populated state. This attribute is always
            fetched using HTTP GET and is fetched just once – when the Conference
            is created. The URL must be an audio file that is reachable and readable
            by FreeClimb.
          type: string
      required:
      - actionUrl
      type: object
    Enqueue_allOf:
      properties:
        actionUrl:
          description: A request is made to this URL when the Call leaves the Queue,
            which can occur if enqueue of the Call fails or when the call is dequeued
            via the `Dequeue` command, the REST API (POST to Queue Member resource),
            or the caller hangs up.
          type: string
        notificationUrl:
          description: URL to be invoked when the call enters the queue. The request
            to the URL contains the standard request parameters.This is a notification
            only; any PerCL returned will be ignored.
          type: string
        queueId:
          description: ID of the Queue to which to add the Call. If the Queue does
            not exist, it will be created. The ID must start with QU followed by 40
            hex characters.
          type: string
        waitUrl:
          description: A request is made to this URL when the Call leaves the Queue,
            which can occur if enqueue of the Call fails or when the call is dequeued
            via the `Dequeue` command, the REST API (POST to Queue Member resource),
            or the caller hangs up.
          type: string
      required:
      - actionUrl
      - queueId
      - waitUrl
      type: object
    GetDigits_allOf:
      properties:
        actionUrl:
          description: When the Caller has finished entering digits, FreeClimb will
            make an HTTP POST request to this URL. A PerCL response is expected to
            continue handling the Call. Make sure to keep “http://“ in the URL.
          type: string
        digitTimeoutMs:
          description: ' Maximum time in milliseconds that FreeClimb will wait for
            the Caller to press any digit after the last digit entered, before making
            a determination that a `timeout` has occurred and moving on to make the
            request to the actionUrl to submit the results of the `GetDigits` command.
            This timeout interval begins and resets after each digit entered.'
          type: integer
        finishOnKey:
          description: Digit that causes the input sequence to be deemed complete.
            This attribute defers to the `timeout` attribute – so, if a `timeout`
            occurs, then the command terminates regardless of the value of `finishOnKey`.
          type: string
        flushBuffer:
          description: If set to true, the FreeClimb platform starts with an empty
            DTMF buffer to store the digits entered by the caller. If set to false,
            FreeClimb will append the user inputs to the end of the existing digits
            buffer and will return digits from the start of the digits buffer.
          type: boolean
        initialTimeoutMs:
          description: Maximum time in milliseconds that FreeClimb will wait for the
            Caller to press the first digit before making a determination that a `timeout`
            has occurred and moving on to make the request to the `actionUrl` to submit
            the results of the `GetDigits` command. This timeout interval begins when
            all nested commands have been fully executed.
          type: string
        maxDigits:
          description: Maximum number of digits expected in the input. If the terminating
            digit is not entered and the caller has entered the maximum number of
            digits allowed, the `GetDigits` command terminates regardless of the value
            of `finishOnKey`.
          type: integer
        minDigits:
          description: Minimum number of digits expected in the input. If specified,
            FreeClimb will return the collected digits only if the Caller has entered
            at least that many digits.
          type: integer
        prompts:
          description: JSON array of PerCL commands to nest within the `GetDigits`
            command. The `Say`, `Play`, and `Pause` commands can be used. The nested
            actions are executed while FreeClimb is waiting for input from the Caller.
          items:
            $ref: '#/components/schemas/PerclCommand'
          type: array
        privacyMode:
          description: Parameter `privacyMode` will not log the `text` as required
            by PCI compliance.
          type: boolean
      required:
      - actionUrl
      type: object
    GetSpeech_allOf:
      properties:
        actionUrl:
          description: When the caller has finished speaking or the command has timed
            out, FreeClimb will make a POST request to this URL. A PerCL response
            is expected to continue handling the call.
          type: string
        grammarType:
          description: The grammar file type to use for speech recognition. A value
            of 'URL' indicates the grammarFile attribute specifies a URL that points
            to the grammar file. A value of `BUILTIN` indicates the grammarFile attribute
            specifies the name of one of the platform built-in grammar files.
          type: integer
        grammarFile:
          description: The grammar file to use for speech recognition. If grammarType
            is set to URL, this attribute is specified as a download URL.
          type: string
        grammarRule:
          description: The grammar rule within the specified grammar file to use for
            speech recognition. This attribute is optional if `grammarType` is `URL`
            and ignored if `grammarType` is `BUILTIN`.
          type: boolean
        playBeep:
          description: Indicates whether a beep should be played just before speech
            recognition is initiated so that the speaker can start to speak.
          type: string
        prompts:
          description: The JSON array of PerCL commands to nest within the `GetSpeech`
            command. The `Say`, `Play`, and `Pause` commands can be used. The nested
            actions are executed while FreeClimb is waiting for input from the caller.
            This allows for playing menu options to the caller and to prompt for the
            expected input. These commands stop executing when the caller begins to
            input speech.
          items:
            $ref: '#/components/schemas/PerclCommand'
          type: array
        noInputTimeoutMs:
          description: When recognition is started and there is no speech detected
            for `noInputTimeoutMs` milliseconds, the recognizer will terminate the
            recognition operation.
          type: integer
        recognitionTimeoutMs:
          description: When playback of prompts ends and there is no match for `recognitionTimeoutMs`
            milliseconds, the recognizer will terminate the recognition operation.
          type: integer
        confidenceThreshold:
          description: When a recognition resource recognizes a spoken phrase, it
            associates a confidence level with that match. Parameter `confidenceThreshold`
            specifies what confidence level is considered a successful match. Values
            are between 0.0 and 1.0.
          type: number
        sensitivityLevel:
          description: 'The speech recognizer supports a variable level of sound sensitivity.
            The sensitivityLevel attribute allows for filtering out background noise,
            so it is not mistaken for speech. Values are between 0.0 and 1.0 '
          type: number
        speechCompleteTimeoutMs:
          description: Parameter `speechCompleteTimeoutMs` specifies the length of
            silence required following user speech before the speech recognizer finalizes
            a result. This timeout applies when the recognizer currently has a complete
[...]
